.hero {
    height: 573px;
    display: flex;
    column-gap: 30px;
    padding-bottom: 42px;
}

.hero__desc,
.hero__slider {
    height: 100%;
    position: relative;
}

.hero__desc {
    flex: 0 0 100%;
    padding-top: 150px;
}

.hero__desc::after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 0px 500px 500px 0px;
    top: 0px;
    z-index: -10;
    right: 50%;
}

.hero__content {
    width: 37%;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

.hero__subtitle {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.33;
}

.btn {
    background-color: #FFBF42;
    border-radius: 50px;
    transition: all 0.3s;
    cursor: pointer;
}

.btn:hover {
    background-color: #e9ad34;
}

.hero__link {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.14);
    display: inline-flex;
    min-width: 256px;
    min-height: 48px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 131.19%;
}

.hero__slider {
    flex: 0 0 50%;
    overflow: hidden;
    transform: translateX(-100%);
    box-shadow: -4px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 500px 0px 0px 500px;
}

.dots {
    position: absolute;
    margin-left: 46%;
    display: flex;
    bottom: 38px;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin-right: 14px;
}

.dot:last-child {
    margin-right: 0;
}

.dot.active {
    background-color: #FFBF42;
    width: 14px;
    height: 14px;
}

.hero__slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width:768px) {
    .hero {
        height: 943px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 50px;
    }

    .hero__desc,
    .hero__slider {
        height: calc(100%/2 - 28px);
    }

    .hero__desc {
        flex: 0 0 auto;
        padding-top: 112px;
    }

    .hero__desc::after {
        right: 18%;
    }

    .hero__content {
        padding-left: calc(20% - 15px);
        width: 77%;
    }

    .hero__slider {
        flex: 0 0 auto;
        transform: translateX(0%);
        margin-left: 18%;
    }
}

@media (max-width: 320px) {
    .title {
        font-size: 24px;
    }

    .hero__desc {
        padding-top: 142px;
    }

    .hero__desc::after {
        right: 0;
    }

    .hero__content {
        padding-left: 0;
        width: 100%;
    }

    .hero__subtitle {
        font-size: 13px;
    }

    .hero__link {
        min-width: 217px;
        min-height: 41px;
        padding: 12px;
    }

    .hero__desc,
    .hero__slider {
        height: calc(100%/2 - 8px);
    }

    .hero__slider {
        margin-left: 0;
    }
}